@import "../../styles/global.scss";

.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      padding: 20px;
      display: flex;
      gap: 1rem;

      .left {
        @include shadow;
        padding: 20px;
        flex: 1;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px 7px;
          font-size: 12px;
          cursor: pointer;
          background-color: $base-color;
          border: none;
          color: whitesmoke;
          font-weight: bold;
          border-top-right-radius: 3px;
          border-bottom-left-radius: 3px;

          &:hover {
            background-color: #159eb6;
          }
        }

        .title {
          @include title;
          margin-bottom: 1rem;
        }

        .item {
          display: flex;
          gap: 20px;

          .details {
            .itemTitle {
              color: $base-color;
              font-size: 20px;
              margin-bottom: 20px;
            }

            .detailItem {
              display: flex;
              align-items: center;
              margin-bottom: 5px;

              .itemKey {
                font-weight: bold;
                color: $base-color;
                margin-right: 15px;
              }

              .itemValue {
                color: rgb(111, 111, 111);
              }
            }
          }

          .itemImage {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }

      .right {
        @include shadow;
        flex: 2;
      }
    }

    .bottom {
      padding: 5px 25px;
      @include shadow;
      margin: 25px;

      .bottomTitle {
        @include title;
        margin: 20px 0;
      }
    }
  }
}
