$base-color: #21B6D0;



@mixin reset-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@mixin title{
  color: rgb(179, 177, 177);
  font-size: 20px;
}
