.home{
    display: flex;    

    .homeContainer{
        flex: 6;

        .widgets{
            display: flex;
            align-items: center;
            padding: 25px;
            gap: 30px;
        }
    }
}